@keyframes ldio-fejrrw9h7j {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-fejrrw9h7j div {
    box-sizing: border-box !important
}

.ldio-fejrrw9h7j>div {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 62px;
    left: 62px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #1f5242 transparent #1f5242 transparent;
    animation: ldio-fejrrw9h7j 1s linear infinite;
}

.ldio-fejrrw9h7j>div:nth-child(2),
.ldio-fejrrw9h7j>div:nth-child(4) {
    width: 56px;
    height: 56px;
    top: 72px;
    left: 72px;
    animation: ldio-fejrrw9h7j 1s linear infinite reverse;
}

.ldio-fejrrw9h7j>div:nth-child(2) {
    border-color: transparent #ffee36 transparent #ffee36
}

.ldio-fejrrw9h7j>div:nth-child(3) {
    border-color: transparent
}

.ldio-fejrrw9h7j>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-fejrrw9h7j>div:nth-child(3) div:before,
.ldio-fejrrw9h7j>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 26px;
    background: #1f5242;
    border-radius: 50%;
    box-shadow: 0 68px 0 0 #1f5242;
}

.ldio-fejrrw9h7j>div:nth-child(3) div:after {
    left: -8px;
    top: 26px;
    box-shadow: 68px 0 0 0 #1f5242;
}

.ldio-fejrrw9h7j>div:nth-child(4) {
    border-color: transparent;
}

.ldio-fejrrw9h7j>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-fejrrw9h7j>div:nth-child(4) div:before,
.ldio-fejrrw9h7j>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 16px;
    background: #ffee36;
    border-radius: 50%;
    box-shadow: 0 48px 0 0 #ffee36;
}

.ldio-fejrrw9h7j>div:nth-child(4) div:after {
    left: -8px;
    top: 16px;
    box-shadow: 48px 0 0 0 #ffee36;
}

.loadingio-spinner-double-ring-2vquj6kunnv {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-fejrrw9h7j {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-fejrrw9h7j div {
    box-sizing: content-box;
}