@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-layout-header{
    background-color: #FFFF !important;
}
.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 500px;
}

.each-slide span {
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.menu{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}